<header>
  <div class="top">
    <div class="logo">
      <img src="assets/img/sivohmlogo.png" alt="">
    </div>
    <div class="show-md menu-button" (click)="openMenu()">
      <i class="fas fa-bars"></i>
    </div>
    <div class="search-wrap hide-md">
      <input type="text">
      <i class="fas fa-search"></i>
    </div>
    <div class="social-wrap hide-md">
      <div class="social-wrap--item">
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="social-wrap--item">
        <i class="fab fa-twitter"></i>
      </div>
      <div class="social-wrap--item">
        <i class="fab fa-linkedin-in"></i>
      </div>
      <div class="social-wrap--item">
        <i class="fab fa-instagram"></i>
      </div>
    </div>
    <div class="menu">
      <div class="menu--item hide-md">
        Services
      </div>
      <div class="menu--item hide-md">
        Products
      </div>
      <div class="menu--item hide-md">
        Consulting
      </div>
      <div class="menu--item menu--item-signup">
        SING UP
      </div>
      <div class="menu--item menu--item-login">
        Log In
      </div>
    </div>
  </div>
  <div class="bot">
    <div class="menu-bot">
      <div class="menu-bot--item">
        24/7 Help
      </div>
      <div class="menu-bot--item">
        Traning
      </div>
      <div class="menu-bot--item">
        Experts
      </div>
      <div class="menu-bot--item">
        Analysis
      </div>
      <div class="menu-bot--item">
        Testimonials
      </div>
      <div class="menu-bot--item">
        Pricing
      </div>
      <div class="menu-bot--item">
        FAQ
      </div>
    </div>
  </div>
</header>