<footer>
  <div class="footer-section">
    <div class="footer-section--lable">
      NEED HELP?
    </div>
    <div class="footer-section--item">
      Contact Us
    </div>
    <div class="footer-section--item">
      Research Disclosures
    </div>
  </div>
  <div class="footer-section">
    <div class="footer-section--lable">
      LEGAL
    </div>
    <div class="footer-section--item">
      Online Security
    </div>
    <div class="footer-section--item">
      Terms of Use
    </div>
    <div class="footer-section--item">
      Privacy Policy
    </div>
  </div>
  <div class="footer-lable">
    © Sivohm Labs. All Rightts Reserved.
  </div>
</footer>